@layer reset, base, tokens, recipes, utilities;

/* 아래 폰트들은 safari에서의 대응을 위한 css 변수 등록을 위한 코드 입니다 */
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard'),
    url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard'),
    url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard'),
    url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard'),
    url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

:root {
  --pretendard: 'Pretendard', sans-serif;
}

html {
  @media screen and (max-width: 475px) {
    background-color: #18181d;
  }
}

.sb-show-main,
.docs-story {
  background-color: #18181d;
}

button {
  cursor: pointer;

  &:disabled {
    pointer-events: none;
  }
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* 버튼 클릭시 나오는 하이라이트 제거 */
  user-select: none; /* 글자들 선택 안되게 막기 */
  -webkit-touch-callout: none; /* 링크를 오래 눌렀을때 액션 막기*/
}
